#search_in_dailystory {
	margin-left: 20px;
	width: 450px;
}

#search_btn_in_dailystory {
	width: 200px;
}

.btn_form_dailystory_div {
	text-align: center;
}

#preview_thumbnail_img {
	margin-top: 5px;
	margin-bottom: 10px;
}

#thumbnail_img {
	margin-bottom: 12px;
}

.tb_dailystory {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.border_dailystory_form_div {
	width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-color: #0d6efd;
    border-bottom-color: #0d6efd;
    border-width: 1.5px;
    border-top-style: solid;
    border-bottom-style: solid;
}

.sub_title_dailystory {
	text-align: left;
	margin-top: 20px;
	margin-left: 25%;
}

.img_box_class {
	aspect-ratio: 16/9;
	overflow: hidden;
	margin-bottom: 12px;
}

.img_box_class>img {
	width: 100%;
	object-fit: cover;
}

#rep_container_div {
	width: 50%;
	margin: 0px auto 30px auto; 
}

.rep_textarea {
	width: 100% !important;
	height: 100px !important;
}

#rep_table {
	width: 100%;
	margin-bottom: 20px;
}

#rep_table tr, #rep_table td {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 5px 0px 5px 3px;
}