textarea {
	resize: none;
	height: 350px;
}

textarea::placeholder {
	font-style: italic;
}

input::placeholder {
	font-style: italic;			
}

th {
	vertical-align: top;
}

.card {
	width: 18rem;
	cursor: pointer;
}

.reply_p {
	cursor: pointer;
	display: inline-block;
}

#search_in_dailystory {
	width: 350px;
	height: 50px;
}

#search_in_dailystory input {
	display: inline-block;
}

#search_txt_in_dailystory {
	width: 250px !important;
}

#header_search_div {
	width: 450px;			
}

#header_search_btn {
	width: 200px;			
}

.align_container{
	text-align: center;
}

.tag_block{
	color: white !important;
	background-color: #0d81fde0 !important;
	border-color: #0d81fde0 !important;
	border-width: 0px !important;
	border-radius: 0.5rem !important;
	padding: 3px 8px 3px 8px;
}