<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper의 namespace와 Interface 경로 동일하게 설정 >> mapper 후보로 등록 -->
<mapper namespace="com.logus.dailycheck.dao.IDailycheckDAO">
<!-- daily -->

	<insert id="insertDailycheck" parameterType="com.logus.dailycheck.model.DailycheckVO">
		<![CDATA[
		INSERT INTO LOGUS.DAILYCHECK
		VALUES(DAILYCHECK_CODE_SEQ.nextval, #{dailyroutineCode}, #{dailycheckBegintime},
		#{dailycheckEndtime}, #{dailycheckContent})
		]]>
	</insert>

	
	<update id="updateDailycheck" parameterType="com.logus.dailycheck.model.DailycheckVO">
		<![CDATA[
		UPDATE LOGUS.DAILYCHECK
		SET dailycheck_begintime=#{dailycheckBegintime}, dailycheck_endtime=#{dailycheckEndtime}, dailycheck_content=#{dailycheckContent}
		where dailycheck_code=#{dailycheckCode}
		]]>
	</update>
	
	<delete id="deleteDailycheck" parameterType="com.logus.dailycheck.model.DailycheckVO">
		<![CDATA[
		DELETE LOGUS.DAILYCHECK
		WHERE dailycheck_code =#{dailyroutineCode} and dailycheck_code NOT IN 
		]]>
		<foreach  item="dailycheckCode" index="index" collection="voList" open="(" close=")" separator=",">
		 	<![CDATA[
		 	#{dailycheckCode}
		 	]]>
		</foreach>
	</delete>
	
	<delete id="deleteDailycheckAll" parameterType="int">
		<![CDATA[
		DELETE LOGUS.DAILYCHECK
		WHERE dailyroutine_code=#{dailyroutineCode}
		]]>
	</delete>
	
	<select id="selectDailycheckList" resultType="com.logus.dailycheck.model.DailycheckVO" parameterType="int">
		<![CDATA[
		SELECT * FROM LOGUS.DAILYCHECK
		WHERE dailyroutine_code=#{dailyroutineCode}
		]]>
	</select>
	
</mapper>