<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper의 namespace와 Interface 경로 동일하게 설정 >> mapper 후보로 등록 -->
<mapper namespace="com.logus.dailystory.dao.IDailystoryDAO">
	<select id="countDailystory" resultType="int" parameterType="string">
		<![CDATA[
			SELECT COUNT(*) FROM LOGUS.DAILYSTORY WHERE member_nickname = #{memberNickname}
		]]>
	</select>
	
	<insert id="insertDailystory" parameterType="com.logus.dailystory.model.DailystoryVO">
		<selectKey keyProperty="dailystoryCode" resultType="int" order="BEFORE">
			<![CDATA[SELECT dailystory_code_seq.NEXTVAL FROM DUAL]]>
		</selectKey>
		<![CDATA[
			INSERT INTO LOGUS.DAILYSTORY
			(dailystory_code, member_nickname, dailystory_uploaddate, dailystory_title, dailystory_content, dailystory_image)
			VALUES
			(#{dailystoryCode}, #{memberNickname}, SYSDATE, #{dailystoryTitle}, #{dailystoryContent}, #{dailystoryImage})
		]]>
	</insert>
	
	<update id="updateDailystory" parameterType="com.logus.dailystory.model.DailystoryVO">
		<![CDATA[
			UPDATE LOGUS.DAILYSTORY SET
			dailystory_title = #{dailystoryTitle}, dailystory_content = #{dailystoryContent}, dailystory_image = #{dailystoryImage}
			WHERE dailystory_code = #{dailystoryCode}
		]]>
	</update>
	
	<delete id="deleteDailystory" parameterType="int">
		<![CDATA[
			DELETE LOGUS.DAILYSTORY WHERE dailystory_code = #{dailystoryCode}
		]]>
	</delete>
	
	<select id="selectDailystoryInfo" resultType="com.logus.dailystory.model.DailystoryVO" parameterType="int">
		<![CDATA[
			SELECT * FROM LOGUS.DAILYSTORY WHERE dailystory_code = #{dailystoryCode}
		]]>
	</select>
	
	<select id="selectDailystoryList" resultType="com.logus.dailystory.model.DailystoryVO" parameterType="string">
		<![CDATA[
			SELECT * FROM LOGUS.DAILYSTORY WHERE member_nickname = #{memberNickname}
			ORDER BY dailystory_code DESC
		]]>
	</select>
	
	<!-- 검색 옵션 : 0 or otherwise=전체, 1=태그, 2=제목, 3=내용, 4=닉네임 -->
	<select id="findInAllDailystoryList" resultType="com.logus.dailystory.model.DailystoryVO">
		<![CDATA[
			SELECT DISTINCT dailystory_code, member_nickname, dailystory_uploaddate,
			dailystory_title, dailystory_content, dailystory_image
			FROM LOGUS.V_DAILYSTORY_SEARCH
		]]>
		<where>
			<choose>
			<when test="option == 1">
				<![CDATA[AND tag_name LIKE #{search}]]>
			</when>
			<when test="option == 2">
				<![CDATA[AND dailystory_title LIKE #{search}]]>
			</when>
			<when test="option == 3">
				<![CDATA[AND dailystory_content LIKE #{search}]]>
			</when>
			<when test="option == 4">
				<![CDATA[AND member_nickname LIKE #{search}]]>
			</when>
			<otherwise>
				<![CDATA[
					AND
					(tag_name LIKE #{search}
					OR dailystory_title LIKE #{search}
					OR dailystory_content LIKE #{search}
					OR member_nickname LIKE #{search})
				]]>
			</otherwise>
		</choose>
		</where>
		<![CDATA[ORDER BY dailystory_code DESC]]>
	</select>
	
	<!-- 검색 옵션 : 0 or otherwise=전체, 1=태그, 2=제목, 3=내용 -->
	<select id="findInMyDailystoryList" resultType="com.logus.dailystory.model.DailystoryVO">
		<![CDATA[
			SELECT DISTINCT dailystory_code, member_nickname, dailystory_uploaddate,
			dailystory_title, dailystory_content, dailystory_image
			FROM LOGUS.V_DAILYSTORY_SEARCH
			WHERE member_nickname = #{myNickname}
		]]>
		<choose>
			<when test="option == 1">
				<![CDATA[AND tag_name LIKE #{search}]]>
			</when>
			<when test="option == 2">
				<![CDATA[AND dailystory_title LIKE #{search}]]>
			</when>
			<when test="option == 3">
				<![CDATA[AND dailystory_content LIKE #{search}]]>
			</when>
			<otherwise>
				<![CDATA[
					AND
					(tag_name LIKE #{search}
					OR dailystory_title LIKE #{search}
					OR dailystory_content LIKE #{search})
				]]>
			</otherwise>
		</choose>
		<![CDATA[ORDER BY dailystory_code DESC]]>
	</select>
	
</mapper>