<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper의 namespace와 Interface 경로 동일하게 설정 >> mapper 후보로 등록 -->
<mapper namespace="com.logus.qna.dao.IQnaDAO">
	<select id="countQna" parameterType="String" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM logus.qna
		]]>
		<if test="memberNickname != null">
			<![CDATA[
				WHERE member_nickname = #{memberNickname}
			]]>
		</if>
	</select>
	
	<select id="selectQnaList" parameterType="String" resultType="com.logus.qna.model.QnaVO">
		<![CDATA[
			SELECT * FROM logus.qna
		]]>
		<if test="memberNickname != null">
			<![CDATA[
				WHERE member_nickname = #{memberNickname}
			]]>
		</if>
		<![CDATA[
			ORDER BY answer_date DESC, qna_date DESC, qna_code DESC
		]]>
	</select>

	<select id="selectQnaInfo" parameterType="int" resultType="com.logus.qna.model.QnaVO">
		<![CDATA[
			SELECT * FROM logus.qna WHERE qna_code = #{qnaCode}
		]]>
	</select>
	
	<insert id="insertQna" parameterType="com.logus.qna.model.QnaVO">
		<![CDATA[
			INSERT INTO logus.qna(QNA_CODE, QNA_TITLE, QNA_CONTENT, QNA_DATE, MEMBER_NICKNAME)
			VALUES(qna_code_seq.NEXTVAL, #{qnaTitle}, #{qnaContent}, SYSDATE, #{memberNickname})
		]]>
	</insert>
	
	<update id="updateQ" parameterType="com.logus.qna.model.QnaVO">
		<![CDATA[
			UPDATE logus.qna
			SET qna_title = #{qnaTitle}, qna_content = #{qnaContent}
			WHERE qna_code = #{qnaCode}
		]]>
	</update>
	
	<delete id="deleteQna" parameterType="int">
		<![CDATA[
			DELETE logus.qna WHERE qna_code = #{qnaCode}
		]]>
	</delete>
	
	<update id="insertAnswer" parameterType="com.logus.qna.model.QnaVO">
		<![CDATA[
			UPDATE logus.qna
			SET answer_content = #{answerContent}, answer_date = SYSDATE, manager_nickname = #{managerNickname}
			WHERE qna_code = #{qnaCode}
		]]>
	</update>
	
	<update id="updateAnswer" parameterType="com.logus.qna.model.QnaVO">
		<![CDATA[
			UPDATE logus.qna
			SET answer_content = #{answerContent}
			WHERE qna_code = #{qnaCode}
		]]>
	</update>
	
	<update id="deleteAnswer" parameterType="com.logus.qna.model.QnaVO">
		<![CDATA[
			UPDATE logus.qna
			SET answer_content = null, answer_date = null, manager_nickname = null
			WHERE qna_code = #{qnaCode}
		]]>
	</update>
</mapper>

<!-- 작성자 : 배재연 -->