<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper의 namespace와 Interface 경로 동일하게 설정 >> mapper 후보로 등록 -->
<mapper namespace="com.logus.dailyroutine.dao.IDailyroutineDAO">

	<insert id="insertDailyroutine" parameterType="com.logus.dailyroutine.model.DailyroutineVO">
	<selectKey keyProperty="dailyroutineCode" resultType="int" order="BEFORE">
		<![CDATA[
			select DAILYROUTINE_CODE_SEQ.nextval from dual
		]]>
	</selectKey>
		<![CDATA[
			INSERT INTO LOGUS.DAILYROUTINE (DAILYROUTINE_CODE, MEMBER_NICKNAME, DAILYROUTINE_WEEKOPT, DAILYROUTINE_TITLE, DAILYROUTINE_ACTIVE, DAILYROUTINE_SHARED)
			VALUES(#{dailyroutineCode}, #{memberNickname}, #{dailyroutineWeekopt},
			#{dailyroutineTitle}, #{dailyroutineActive}, 0)
		]]>
	</insert>

	<update id="updateRoutineActive">
	<![CDATA[
	UPDATE LOGUS.DAILYROUTINE 
	SET dailyroutine_active=0
	WHERE dailyroutine_active=1 and member_nickname=#{memberNickname} AND dailyroutine_weekopt=#{dailyroutineWeekopt}
	]]>
	</update>

	<update id="updateDailyroutine" parameterType="com.logus.dailyroutine.model.DailyroutineVO">
		<![CDATA[
		UPDATE LOGUS.DAILYROUTINE 
		SET member_nickname=#{memberNickname}, dailyroutine_weekopt=#{dailyroutineWeekopt},
		dailyroutine_title=#{dailyroutineTitle}, dailyroutine_active=#{dailyroutineActive}
		WHERE dailyroutine_code=#{dailyroutineCode}
		]]>
	</update>
	
	<delete id="deleteDailyroutine" parameterType="int">
		<![CDATA[
		DELETE LOGUS.DAILYROUTINE
		WHERE dailyroutine_code=#{dailyroutineCode}
		]]>
	</delete>
	
	<select id="selectDailyroutineInfo" resultType="com.logus.dailyroutine.model.DailyroutineVO" parameterType="int">
		<![CDATA[
		SELECT * FROM LOGUS.DAILYROUTINE
		WHERE dailyroutine_code=#{dailyroutineCode}
		]]>
	</select>
	
	<select id="selectDailyroutineActive" resultType="com.logus.dailyroutine.model.DailyroutineVO">
		<![CDATA[
		SELECT * FROM LOGUS.DAILYROUTINE
		WHERE DAILYROUTINE_ACTIVE=1 AND MEMBER_NICKNAME=#{memberNickname} AND DAILYROUTINE_WEEKOPT=#{dailyroutineWeekopt}
		]]>
	</select>
	
	<select id="selectDailyroutineList" resultType="com.logus.dailyroutine.model.DailyroutineVO">
		<![CDATA[
		SELECT * FROM LOGUS.DAILYROUTINE
		WHERE member_nickname=#{memberNickname} AND dailyroutine_weekopt=#{dailyroutineWeekopt}
		]]>
	</select>
	
	<select id="findDailyroutineList" resultType="com.logus.dailyroutine.model.DailyroutineVO" parameterType="string">
		<![CDATA[
			SELECT DISTINCT DAILYROUTINE_CODE, MEMBER_NICKNAME, DAILYROUTINE_WEEKOPT,
			DAILYROUTINE_TITLE, DAILYROUTINE_ACTIVE, DAILYROUTINE_SHARED
			FROM LOGUS.V_DAILYROUTINE_SEARCH
		]]>
		<where>
		<![CDATA[DAILYROUTINE_ACTIVE=1]]>
			<choose>
			<when test="option == 1">
				<![CDATA[AND tag_name LIKE '%' || #{search} || '%']]>
			</when>
			<when test="option == 2">
				<![CDATA[AND DAILYROUTINE_TITLE LIKE '%' || #{search} || '%']]>
			</when>
			<when test="option == 3">
				<![CDATA[AND DAILYCHECK_CONTENT LIKE '%' || #{search} || '%']]>
			</when>
			<when test="option == 4">
				<![CDATA[AND member_nickname LIKE '%' || #{search} || '%']]>
			</when>
			<otherwise>
				<![CDATA[
					AND
					(tag_name LIKE '%' || #{search} || '%'
					OR DAILYROUTINE_TITLE LIKE '%' || #{search} || '%'
					OR DAILYCHECK_CONTENT LIKE '%' || #{search} || '%'
					OR member_nickname LIKE '%' || #{search} || '%')
				]]>
			</otherwise>
		</choose>
		</where>
		<![CDATA[ORDER BY DAILYROUTINE_CODE DESC]]>
	</select>
	
	<select id="updateRoutineShared" parameterType="int">
		<![CDATA[
		UPDATE LOGUS.DAILYROUTINE 
		SET DAILYROUTINE_SHARED=(DAILYROUTINE_SHARED + 1)
		WHERE dailyroutine_code=#{dailyroutineCode}
		]]>
		<!--like.... 일단 if. 옵션 숫자 몇번이 내용, 작성자 등등인지~-->
	</select>
</mapper>

